<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header home-nav">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Daniel Silva Blog's</span>

            <div class="mdl-layout-spacer"></div>

            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/home">Home</a>
            </nav>
        </div>
    </header>
</div>