cor-dev = #00875c
cor-infra = #870115

.conteudo p
  color #555555
  font-family "Open Sans", sans-serif
  font-size 1.50rem
  font-weight 300
  width auto
  max-width 50rem
  line-height 2
  letter-spacing .01rem
  padding 0 1.25rem
  padding-left 0
  padding-right 0
  margin-left auto
  margin-right auto
  display block
  float none

.conteudo
  font-family "Open Sans", sans-serif
  h2
    font-size 3rem
    width auto
    max-width 50rem
    margin-left auto
    margin-right auto
  h3
    font-size 2rem
    width auto
    max-width 50rem
    margin-left auto
    margin-right auto
  h4
    font-size 1.80rem
    width auto
    max-width 50rem
    margin-left auto
    margin-right auto
  h5
    font-size 1.20rem
    width auto
    max-width 50rem
    margin-left auto
    margin-right auto
  li
    font-size 1.30rem
    width auto
    max-width 50rem
    margin-left auto
    margin-right auto
    line-height 2
    letter-spacing .01rem

.header-post-dev
  font-family "Open Sans", sans-serif
  font-size 2rem
  color white
  width 100%
  height 25rem
  padding-top 10rem
  background-color cor-dev

.header-post-infra
  font-family "Open Sans", sans-serif
  font-size 2rem
  color white
  width 100%
  height 25rem
  padding-top 10rem
  background-color cor-infra

.titulo-post
  font-family "Open Sans", sans-serif
  text-align center
  margin 4rem


.highlight
  font-family "Open Sans", sans-serif
  font-size 1.125rem
  background black
  width auto
  max-width 100%
  padding 10rem
  margin-right auto
  margin-left auto
  color white
  display flex
  span
    color #f2ee06

