@import "jeet"


html
  position relative
  min-height 100%

body
  margin 0 0 60px

.header
  background-color white
  box-shadow 0 3px 9px #000
  width 100%
  padding .110rem 0 .221rem
  position fixed
  z-index 10


h1
  font-family 'Serif' sans-serif
  font-style normal
  margin 1rem


div h1 a
  font-style normal
  text-decoration none
  color #00875c

main
  center(1200px)
  padding-top 7rem

main div
  center(350px)
  width 100%
  float left
  height 20rem
  margin-left 3rem
  margin-bottom 5rem
  background-color #ffffff
  border 1px solid #00875c
  box-shadow 0 1px 3px #000

main div a
  font-style normal
  text-decoration none

main div .titulo-card
  margin .313rem 0 .938rem
  text-align center
  font-size 1.25rem
  font-family 'Open Sans' sans-serif
  font-weight 800
  font-style normal
  color #ff211e


footer
  position absolute
  bottom 0
  width 100%
  background-color #00875c
  font-family sans-serif
  color white
  text-align center
  padding 2%