---
layout: default
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="../../../../css/post.css">
</head>
<body>

    {% include nav.html %}

    <header {% if page.identificador == 1 %} class="titulo-infra" {% else %} class="titulo-dev" {% endif %}>
        <div class="titulo-post">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }}
            {% case m %}
            {% when '1' %}Janeiro
            {% when '2' %}Fevereiro
            {% when '3' %}Março
            {% when '4' %}Abril
            {% when '5' %}Maio
            {% when '6' %}Junho
            {% when '7' %}Julho
            {% when '8' %}Agosto
            {% when '9' %}Setembro
            {% when '10' %}Outubro
            {% when '11' %}Novembro
            {% when '12' %}Dezembro
            {% endcase %}
            {{ page.date | date: "%Y" }}
            <h1>{{ page.title }}</h1>
        </div>
    </header>

    <article class="conteudo">
        {{ content }}
    </article>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>