---
layout: index
comments: true
# other options
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <link rel="stylesheet" href="../css/index.css">

    <title>Daniel Silva Blog's</title>
  </head>
  <body>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Daniel Silva Blog's</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>

      <main class="mdl-layout__content">
        <a href="mailto:{{ site.email }}"><img class="imagem-icon" src="../img/gmail.ico" style="left: 30%;"></a>
        <a href="https://twitter.com/{{ site.twitter_username }}"><img class="imagem-icon" src="../img/twitter.ico" style="left: 40%;"></a>
        <a href="https://github.com/{{ site.github_username }}"><img class="imagem-icon" src="../img/github.ico" style="left: 50%;"></a>
        <a href="/home"><img class="imagem-icon" src="../img/foguete.ico" style="left: 60%;"></a>
        <a href="https://t.me/joinchat/AAAAAAxOch6uKO4Qge8w_Q"><img class="imagem-icon" src="../img/Telegram.ico" style="left: 70%;"></a>
      </main>
    </div>

    <!-- Material Design -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- Javascript adicional -->
    <script type="text/javascript" src="../js/foguete.js"></script>
  </body>
</html>
